In [1]:
from Skipass.data import DataSkipass

In [2]:
dsp = DataSkipass()

In [1]:
print('test4')

test4

In [4]:
df_data = dsp.create_df();

/Users/devasou/.pyenv/versions/3.8.6/envs/skipass/lib/python3.8/site-packages/Skipass/data.py:45: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  df_data = self.import_data()

In [5]:
df_data

,numer_sta,Nom,Latitude,Longitude,Altitude,date,pmer,tend,cod_tend,dd,...,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4
0,7005,ABBEVILLE,50.136000,1.834,69,20180701000000,101190,-10,6,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1,7005,ABBEVILLE,50.136000,1.834,69,20180701030000,101120,-70,6,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
2,7005,ABBEVILLE,50.136000,1.834,69,20180701060000,101140,20,1,80,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
3,7005,ABBEVILLE,50.136000,1.834,69,20180701090000,101150,30,1,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
4,7005,ABBEVILLE,50.136000,1.834,69,20180701120000,101100,-40,8,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948921,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731090000,100760,-190,7,90,...,3000,6,2,4800,mq,mq,mq,mq,mq,mq
1948922,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731120000,100430,-330,8,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1948923,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731150000,99980,-430,7,110,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1948924,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731180000,99720,-260,5,110,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1948925,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731210000,99690,-30,5,100,...,990,mq,mq,mq,mq,mq,mq,mq,mq,mq

In [36]:
df_stations = dsp.get_station_list()

In [37]:
print(df_stations)

       ID               Nom   Latitude   Longitude  Altitude
0    7005         ABBEVILLE  50.136000    1.834000        69
1    7015     LILLE-LESQUIN  50.570000    3.097500        47
2    7020   PTE DE LA HAGUE  49.725167   -1.939833         6
3    7027    CAEN-CARPIQUET  49.180000   -0.456167        67
4    7037        ROUEN-BOOS  49.383000    1.181667       151
..    ...               ...        ...         ...       ...
57  81401     SAINT LAURENT   5.485500  -54.031667         5
58  81405   CAYENNE-MATOURY   4.822333  -52.365333         4
59  81408     SAINT GEORGES   3.890667  -51.804667         6
60  81415       MARIPASOULA   3.640167  -54.028333       106
61  89642  DUMONT D'URVILLE -66.663167  140.001000        43

[62 rows x 5 columns]

In [38]:
df_data.columns

Index(['Unnamed: 0', 'numer_sta', 'date', 'pmer', 'tend', 'cod_tend', 'dd',
       'ff', 't', 'td', 'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl',
       'cm', 'ch', 'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12',
       'tx24', 'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol',
       'ht_neige', 'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24',
       'phenspe1', 'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1',
       'hnuage1', 'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3',
       'hnuage3', 'nnuage4', 'ctype4', 'hnuage4', 'Unnamed: 59'],
      dtype='object')

In [39]:
df_data = df_data.drop(columns = ['Unnamed: 0','Unnamed: 59'])

In [43]:
df_stations = df_stations.rename(columns={'ID': 'numer_sta'})

In [44]:
df_stations

    numer_sta               Nom   Latitude   Longitude  Altitude
0        7005         ABBEVILLE  50.136000    1.834000        69
1        7015     LILLE-LESQUIN  50.570000    3.097500        47
2        7020   PTE DE LA HAGUE  49.725167   -1.939833         6
3        7027    CAEN-CARPIQUET  49.180000   -0.456167        67
4        7037        ROUEN-BOOS  49.383000    1.181667       151
..        ...               ...        ...         ...       ...
57      81401     SAINT LAURENT   5.485500  -54.031667         5
58      81405   CAYENNE-MATOURY   4.822333  -52.365333         4
59      81408     SAINT GEORGES   3.890667  -51.804667         6
60      81415       MARIPASOULA   3.640167  -54.028333       106
61      89642  DUMONT D'URVILLE -66.663167  140.001000        43

[62 rows x 5 columns]

In [45]:
df = df_stations.merge(df_data, on='numer_sta')

In [46]:
df

,numer_sta,Nom,Latitude,Longitude,Altitude,date,pmer,tend,cod_tend,dd,...,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4
0,7005,ABBEVILLE,50.136000,1.834,69,20180701000000,101190,-10,6,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1,7005,ABBEVILLE,50.136000,1.834,69,20180701030000,101120,-70,6,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
2,7005,ABBEVILLE,50.136000,1.834,69,20180701060000,101140,20,1,80,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
3,7005,ABBEVILLE,50.136000,1.834,69,20180701090000,101150,30,1,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
4,7005,ABBEVILLE,50.136000,1.834,69,20180701120000,101100,-40,8,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948921,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731090000,100760,-190,7,90,...,3000,6,2,4800,mq,mq,mq,mq,mq,mq
1948922,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731120000,100430,-330,8,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1948923,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731150000,99980,-430,7,110,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1948924,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731180000,99720,-260,5,110,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,mq
1948925,89642,DUMONT D'URVILLE,-66.663167,140.001,43,20210731210000,99690,-30,5,100,...,990,mq,mq,mq,mq,mq,mq,mq,mq,mq