In [6]:
import os
from os import listdir, PathLike, path
import pandas as pd
import gzip
from datetime import date
import matplotlib.pyplot as plt

In [48]:
df = pd.read_csv('/Users/jeremielecuyer/code/LCYRify/Skipass/raw_data/weather_nivo_data.csv', delimiter = ",")
df

/Users/jeremielecuyer/.pyenv/versions/3.8.6/envs/Skipass/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,2,3,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,numer_sta,date,haut_sta,dd,ff,t,td,u,ww,...,ht_neige_alti,neige_fraiche,teneur_eau,grain_predom,grain_nombre,grain_diametr,homogeneite,m_vol_neige,Unnamed: 48,Unnamed: 49
0,0,7876,20101101060000,1270.0,0,0.000000,278.650000,275.480000,80,0,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
1,1,7457,20101101062000,790.0,0,0.000000,278.650000,mq,mq,0,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
2,2,7590,20101101062000,1270.0,0,0.000000,277.950000,277.810000,99,0,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
3,3,7954,20101101065800,1115.0,0,0.000000,278.850000,277.960000,94,60,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
4,4,7593,20101101070000,1310.0,120,4.000000,277.550000,277.550000,100,0,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245661,846,7590,20121031123000,1270.0,180,2.000000,278.150000,276.800000,91,0,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
245662,847,7917,20121031130000,1281.0,0,0.000000,275.850000,273.420000,84,60,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
245663,848,7931,20121031114000,1665.0,0,6.000000,275.250000,267.840000,58,0,...,mq,mq,mq,7,3,mq,mq,mq,NaN,NaN
245664,849,7975,20121031122500,1420.0,310,2.000000,274.450000,272.990000,90,61,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN
245665,850,7933,20121031120600,1908.0,40,2.000000,273.850000,266.530000,58,70,...,mq,mq,mq,mq,mq,mq,mq,mq,NaN,NaN

In [185]:
i = 'neige_fraiche'

In [186]:
df[i].describe()

count     245666
unique        73
top           mq
freq      203148
Name: neige_fraiche, dtype: object

In [187]:
df[i].unique()

array(['mq', '0.000000', '0.010000', '0.070000', '0.030000', '0.050000',
       '0.330000', '0.200000', '0.190000', '0.150000', '0.100000',
       '0.020000', '0.040000', '0.060000', '0.300000', '0.250000',
       '0.110000', '0.140000', '0.230000', '0.500000', '0.180000',
       '0.360000', '0.400000', '0.260000', '0.450000', '0.220000',
       '0.080000', '0.120000', '0.170000', '0.090000', '0.130000',
       '0.160000', '0.320000', '0.340000', '0.800000', '0.350000',
       '0.380000', '0.210000', '0.520000', '0.750000', '0.370000',
       '0.900000', '0.270000', '0.280000', '0.240000', '0.600000',
       '0.550000', '0.660000', '0.700000', '0.680000', '0.910000',
       '0.410000', '0.480000', '0.440000', '0.430000', '0.290000',
       '0.460000', '0.470000', '0.630000', '0.310000', '0.490000',
       '0.540000', '0.420000', '0.990000', '0.510000', '0.650000',
       '0.830000', '0.390000', '0.850000', '0.720000', '0.590000',
       '0.530000', 'neige_fraiche'], dtype=object)

In [188]:
df[i].sort_values()

107504         0.000000
101131         0.000000
101128         0.000000
205130         0.000000
101126         0.000000
              ...
90621                mq
90622                mq
90612                mq
245665               mq
242072    neige_fraiche
Name: neige_fraiche, Length: 245666, dtype: object

In [189]:
print('Max :', df[i].max())
print('Min :', df[i].min())

Max : neige_fraiche
Min : 0.000000